# Check Data Warehouse

### Import

In [8]:
from lib.duckdbcontext import DuckDBContext
import duckdb

In [9]:
duckdb_database = "../orchestration/db/bigdata.duckdb"

#### Using SQL Magic Cells

In [10]:
%load_ext sql
conn = duckdb.connect(duckdb_database)
%sql conn --alias duckdb

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sql SHOW ALL TABLES; # shows all available tables

Running query in 'duckdb'

+----------+--------+------------------------+-------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------+-----------+
| database | schema |          name          |                                                       column_names                                                      |                                             column_types                                            | temporary |
+----------+--------+------------------------+-------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------+-----------+
| bigdata  |  main  |   extra_name_basics    |           ['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession', 'knownForTitles', 'tconst']          |            ['VARCHAR', 'VARCHAR', 'INTEGER', 'INTEGER', 'VARCHAR', 'VARCHAR', 'VARCHAR']            |   False   |
| bigdata  |  main  |    extra_title_akas    |             ['ordering', 'title', 'region', 'language', 'types', 'attributes', 'isOriginalTitle', 'tconst']             |       ['INTEGER', 'VARCHAR', 'VARCHAR', 'VARCHAR', 'VARCHAR', 'VARCHAR', 'INTEGER', 'VARCHAR']      |   False   |
| bigdata  |  main  |   extra_title_basics   | ['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres'] | ['VARCHAR', 'VARCHAR', 'VARCHAR', 'VARCHAR', 'INTEGER', 'INTEGER', 'INTEGER', 'VARCHAR', 'VARCHAR'] |   False   |
| bigdata  |  main  |    extra_title_crew    |                                            ['tconst', 'directors', 'writers']                                           |                                  ['VARCHAR', 'VARCHAR', 'VARCHAR']                                  |   False   |
| bigdata  |  main  | extra_title_principals |                            ['tconst', 'ordering', 'nconst', 'category', 'job', 'characters']                            |                  ['VARCHAR', 'INTEGER', 'VARCHAR', 'VARCHAR', 'VARCHAR', 'VARCHAR']                 |   False   |
| bigdata  |  main  |  extra_title_ratings   |                                         ['tconst', 'averageRating', 'numVotes']                                         |                                   ['VARCHAR', 'DOUBLE', 'INTEGER']                                  |   False   |
| bigdata  |  main  |     imdb_directors     |                                                  ['movie', 'director']                                                  |                                        ['VARCHAR', 'VARCHAR']                                       |   False   |
| bigdata  |  main  |       imdb_train       |        ['tconst', 'primaryTitle', 'originalTitle', 'startYear', 'endYear', 'runtimeMinutes', 'numVotes', 'label']       |       ['VARCHAR', 'VARCHAR', 'VARCHAR', 'INTEGER', 'INTEGER', 'INTEGER', 'DOUBLE', 'BOOLEAN']       |   False   |
| bigdata  |  main  |      imdb_writing      |                                                   ['movie', 'writer']                                                   |                                        ['VARCHAR', 'VARCHAR']                                       |   False   |
+----------+--------+------------------------+-------------------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------+-----------+

#### Using Custom Context Manager

In [3]:
# Usage
with DuckDBContext(duckdb_database) as ctx:
    ctx.show_tables_info(as_dataframe=True)

Table: extra_name_basics

shape: (5, 7)
┌───────────┬────────────────┬───────────┬───────────┬────────────────┬────────────────┬───────────┐
│ nconst    ┆ primaryName    ┆ birthYear ┆ deathYear ┆ primaryProfess ┆ knownForTitles ┆ tconst    │
│ ---       ┆ ---            ┆ ---       ┆ ---       ┆ ion            ┆ ---            ┆ ---       │
│ str       ┆ str            ┆ i32       ┆ i32       ┆ ---            ┆ str            ┆ str       │
│           ┆                ┆           ┆           ┆ str            ┆                ┆           │
╞═══════════╪════════════════╪═══════════╪═══════════╪════════════════╪════════════════╪═══════════╡
│ nm0000115 ┆ Nicolas Cage   ┆ 1964      ┆ null      ┆ actor,producer ┆ tt0113627      ┆ tt0113627 │
│           ┆                ┆           ┆           ┆ ,soundtrack    ┆                ┆           │
│ nm0000147 ┆ Colin Firth    ┆ 1960      ┆ null      ┆ actor,producer ┆ tt2802144      ┆ tt2802144 │
│           ┆                ┆           ┆           ┆ ,soundtrack    ┆                ┆           │
│ nm0000223 ┆ Elisabeth Shue ┆ 1963      ┆ null      ┆ actress,produc ┆ tt0113627      ┆ tt0113627 │
│           ┆                ┆           ┆           ┆ er,soundtrack  ┆                ┆           │
│ nm0000508 ┆ Carey Lowell   ┆ 1961      ┆ null      ┆ actress        ┆ tt0113627      ┆ tt0113627 │
│ nm0000629 ┆ Claudia        ┆ 1970      ┆ null      ┆ actress,produc ┆ tt2802144      ┆ tt2802144 │
│           ┆ Schiffer       ┆           ┆           ┆ er             ┆                ┆           │
└───────────┴────────────────┴───────────┴───────────┴────────────────┴────────────────┴───────────┘

Table: extra_title_akas

shape: (5, 8)
┌──────────┬──────────────┬────────┬──────────┬─────────────┬────────────┬─────────────┬───────────┐
│ ordering ┆ title        ┆ region ┆ language ┆ types       ┆ attributes ┆ isOriginalT ┆ tconst    │
│ ---      ┆ ---          ┆ ---    ┆ ---      ┆ ---         ┆ ---        ┆ itle        ┆ ---       │
│ i32      ┆ str          ┆ str    ┆ str      ┆ str         ┆ str        ┆ ---         ┆ str       │
│          ┆              ┆        ┆          ┆             ┆            ┆ i32         ┆           │
╞══════════╪══════════════╪════════╪══════════╪═════════════╪════════════╪═════════════╪═══════════╡
│ 10       ┆ Les nuits de ┆ CA     ┆ fr       ┆ imdbDisplay ┆ null       ┆ 0           ┆ tt0018526 │
│          ┆ Chicago      ┆        ┆          ┆             ┆            ┆             ┆           │
│ 11       ┆ Moderne      ┆ AT     ┆ null     ┆ alternative ┆ null       ┆ 0           ┆ tt0018526 │
│          ┆ Apachen      ┆        ┆          ┆             ┆            ┆             ┆           │
│ 12       ┆ Underworld   ┆ GB     ┆ null     ┆ imdbDisplay ┆ null       ┆ 0           ┆ tt0018526 │
│ 13       ┆ Underworld   ┆ AU     ┆ null     ┆ imdbDisplay ┆ null       ┆ 0           ┆ tt0018526 │
│ 14       ┆ Ludzie       ┆ PL     ┆ null     ┆ imdbDisplay ┆ null       ┆ 0           ┆ tt0018526 │
│          ┆ podziemi     ┆        ┆          ┆             ┆            ┆             ┆           │
└──────────┴──────────────┴────────┴──────────┴─────────────┴────────────┴─────────────┴───────────┘

Table: extra_title_basics

shape: (5, 9)
┌───────────┬───────────┬────────────┬───────────┬───┬───────────┬─────────┬───────────┬───────────┐
│ tconst    ┆ titleType ┆ primaryTit ┆ originalT ┆ … ┆ startYear ┆ endYear ┆ runtimeMi ┆ genres    │
│ ---       ┆ ---       ┆ le         ┆ itle      ┆   ┆ ---       ┆ ---     ┆ nutes     ┆ ---       │
│ str       ┆ str       ┆ ---        ┆ ---       ┆   ┆ i32       ┆ i32     ┆ ---       ┆ str       │
│           ┆           ┆ str        ┆ str       ┆   ┆           ┆         ┆ str       ┆           │
╞═══════════╪═══════════╪════════════╪═══════════╪═══╪═══════════╪═════════╪═══════════╪═══════════╡
│ tt0018526 ┆ movie     ┆ Underworld ┆ Underworl ┆ … ┆ 1927      ┆ null    ┆ 80        ┆ Crime,Dra │
│           ┆           ┆            ┆ d         ┆   ┆           ┆         ┆           ┆ ma,Film-N │
│           ┆           ┆            ┆           ┆   ┆           ┆         ┆           ┆ oir       │
│ tt0039305 ┆ movie     ┆ Dead       ┆ Dead      ┆ … ┆ 1946      ┆ null    ┆ 100       ┆ Crime,Dra │
│           ┆           ┆ Reckoning  ┆ Reckoning ┆   ┆           ┆         ┆           ┆ ma,Film-N │
│           ┆           ┆            ┆           ┆   ┆           ┆         ┆           ┆ oir       │
│ tt0044008 ┆ movie     ┆ A          ┆ Scrooge   ┆ … ┆ 1951      ┆ null    ┆ 86        ┆ Drama,Fam │
│           ┆           ┆ Christmas  ┆           ┆   ┆           ┆         ┆           ┆ ily,Fanta │
│           ┆           ┆ Carol      ┆           ┆   ┆           ┆         ┆           ┆ sy        │
│ tt0054412 ┆ movie     ┆ Tunes of   ┆ Tunes of  ┆ … ┆ 1960      ┆ null    ┆ 107       ┆ Drama     │
│           ┆           ┆ Glory      ┆ Glory     ┆   ┆           ┆         ┆           ┆           │
│ tt0059538 ┆ movie     ┆ Old        ┆ Old       ┆ … ┆ 1965      ┆ null    ┆ 90        ┆ Adventure │
│           ┆           ┆ Surehand   ┆ Surehand, ┆   ┆           ┆         ┆           ┆ ,Western  │
│           ┆           ┆            ┆ 1. Teil   ┆   ┆           ┆         ┆           ┆           │
└───────────┴───────────┴────────────┴───────────┴───┴───────────┴─────────┴───────────┴───────────┘

Table: extra_title_crew

shape: (5, 3)
┌───────────┬─────────────────────┬───────────────────────────────────┐
│ tconst    ┆ directors           ┆ writers                           │
│ ---       ┆ ---                 ┆ ---                               │
│ str       ┆ str                 ┆ str                               │
╞═══════════╪═════════════════════╪═══════════════════════════════════╡
│ tt0018526 ┆ nm0903049,nm0744504 ┆ nm0299153,nm0001328,nm0372942,nm… │
│ tt0039305 ┆ nm0188669           ┆ nm0308177,nm0279795,nm0729694,nm… │
│ tt0044008 ┆ nm0221423           ┆ nm0002042,nm0486538               │
│ tt0054412 ┆ nm0623768           ┆ nm0447860                         │
│ tt0059538 ┆ nm0901138           ┆ nm0562015,nm0219043,nm0445123     │
└───────────┴─────────────────────┴───────────────────────────────────┘

Table: extra_title_principals

shape: (5, 6)
┌───────────┬──────────┬───────────┬──────────┬────────────┬────────────────────────┐
│ tconst    ┆ ordering ┆ nconst    ┆ category ┆ job        ┆ characters             │
│ ---       ┆ ---      ┆ ---       ┆ ---      ┆ ---        ┆ ---                    │
│ str       ┆ i32      ┆ str       ┆ str      ┆ str        ┆ str                    │
╞═══════════╪══════════╪═══════════╪══════════╪════════════╪════════════════════════╡
│ tt0018526 ┆ 10       ┆ nm0498133 ┆ writer   ┆ adaptation ┆ null                   │
│ tt0018526 ┆ 1        ┆ nm0051628 ┆ actor    ┆ null       ┆ ["'Bull' Weed"]        │
│ tt0018526 ┆ 2        ┆ nm0111612 ┆ actor    ┆ null       ┆ ["Rolls Royce Wensel"] │
│ tt0018526 ┆ 3        ┆ nm0107574 ┆ actress  ┆ null       ┆ ["'Feathers' McCoy"]   │
│ tt0018526 ┆ 4        ┆ nm0463264 ┆ actor    ┆ null       ┆ ["'Buck' Mulligan"]    │
└───────────┴──────────┴───────────┴──────────┴────────────┴────────────────────────┘

Table: extra_title_ratings

shape: (5, 3)
┌───────────┬───────────────┬──────────┐
│ tconst    ┆ averageRating ┆ numVotes │
│ ---       ┆ ---           ┆ ---      │
│ str       ┆ f64           ┆ i32      │
╞═══════════╪═══════════════╪══════════╡
│ tt0014109 ┆ 7.0           ┆ 1371     │
│ tt0015064 ┆ 8.0           ┆ 15123    │
│ tt0015841 ┆ 7.5           ┆ 6039     │
│ tt0017271 ┆ 7.6           ┆ 1229     │
│ tt0018451 ┆ 7.6           ┆ 1657     │
└───────────┴───────────────┴──────────┘

Table: imdb_directors

shape: (5, 2)
┌───────────┬───────────┐
│ movie     ┆ director  │
│ ---       ┆ ---       │
│ str       ┆ str       │
╞═══════════╪═══════════╡
│ tt0003740 ┆ nm0665163 │
│ tt0008663 ┆ nm0803705 │
│ tt0009369 ┆ nm0428059 │
│ tt0009369 ┆ nm0949648 │
│ tt0010307 ┆ nm0304098 │
└───────────┴───────────┘

Table: imdb_train

shape: (5, 8)
┌───────────┬───────────────┬──────────────┬───────────┬─────────┬──────────────┬──────────┬───────┐
│ tconst    ┆ primaryTitle  ┆ originalTitl ┆ startYear ┆ endYear ┆ runtimeMinut ┆ numVotes ┆ label │
│ ---       ┆ ---           ┆ e            ┆ ---       ┆ ---     ┆ es           ┆ ---      ┆ ---   │
│ str       ┆ str           ┆ ---          ┆ i32       ┆ i32     ┆ ---          ┆ f64      ┆ bool  │
│           ┆               ┆ str          ┆           ┆         ┆ i32          ┆          ┆       │
╞═══════════╪═══════════════╪══════════════╪═══════════╪═════════╪══════════════╪══════════╪═══════╡
│ tt0014109 ┆ The Saga of   ┆ null         ┆ 1924      ┆ null    ┆ 183          ┆ 1231.0   ┆ true  │
│           ┆ Gösta Berling ┆              ┆           ┆         ┆              ┆          ┆       │
│ tt0015064 ┆ The Last      ┆ Der letzte   ┆ 1924      ┆ null    ┆ 77           ┆ null     ┆ true  │
│           ┆ Laugh         ┆ Mann         ┆           ┆         ┆              ┆          ┆       │
│ tt0015841 ┆ The Freshman  ┆ The Freshman ┆ 1925      ┆ null    ┆ 77           ┆ 5374.0   ┆ true  │
│ tt0017271 ┆ By the Law    ┆ null         ┆ null      ┆ 1926    ┆ 80           ┆ 1057.0   ┆ true  │
│ tt0018451 ┆ The Student   ┆ null         ┆ 1927      ┆ null    ┆ 106          ┆ 1459.0   ┆ true  │
│           ┆ Prince in Old ┆              ┆           ┆         ┆              ┆          ┆       │
│           ┆ Heidel…       ┆              ┆           ┆         ┆              ┆          ┆       │
└───────────┴───────────────┴──────────────┴───────────┴─────────┴──────────────┴──────────┴───────┘

Table: imdb_writing

shape: (5, 2)
┌───────────┬───────────┐
│ movie     ┆ writer    │
│ ---       ┆ ---       │
│ str       ┆ str       │
╞═══════════╪═══════════╡
│ tt0003740 ┆ nm0195339 │
│ tt0003740 ┆ nm0515385 │
│ tt0003740 ┆ nm0665163 │
│ tt0003740 ┆ nm0758215 │
│ tt0008663 ┆ nm0406585 │
└───────────┴───────────┘