## Test Notebook!

In [ ]:
# Using magic command you can also add Poetry packages to the Jupyter Notebook
# !poetry add package_name

#### Importing

In [14]:
import os
import glob
import polars as pl  # Faster than Pandas Dataframe library (Rust based library)
import pandas as pd  # Goo'ol Pandas
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import StringType

In [9]:
spark = (
    SparkSession.builder.master("local[*]")
    .appName("Local PySpark Session")
    .getOrCreate()
)

In [17]:
# Get a list of all CSV files that match the pattern
csv_files = glob.glob("../../data/train-*.csv")

# Print the files
for file in csv_files:
    print(file)


# Load all CSV files in the data directory into a dataframe
# Specify '\\N' as a null value
df = spark.read.csv("../../data/train-*.csv", header=True, nullValue="\\N")


# Print the dataframe
df.show()

../../data/train-8.csv
../../data/train-2.csv
../../data/train-7.csv
../../data/train-5.csv
../../data/train-3.csv
../../data/train-4.csv
../../data/train-1.csv
../../data/train-6.csv
+---+---------+--------------------+----------------+---------+-------+--------------+--------+-----+
|_c0|   tconst|        primaryTitle|   originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|
+---+---------+--------------------+----------------+---------+-------+--------------+--------+-----+
| 14|tt0014109|The Saga of Gösta...|            NULL|     1924|   NULL|           183|  1231.0| True|
| 24|tt0015064|      The Last Laugh| Der letzte Mann|     1924|   NULL|            77|    NULL| True|
| 32|tt0015841|        The Freshman|    The Freshman|     1925|   NULL|            77|  5374.0| True|
| 47|tt0017271|          By the Law|            NULL|     NULL|   1926|            80|  1057.0| True|
| 56|tt0018451|The Student Princ...|            NULL|     1927|   NULL|           106|  1459.0| True|
| 62|tt0018742|       The Cameraman|   The Cameraman|     1928|   NULL|            76| 11388.0| True|
| 69|tt0019379|         Show People|            NULL|     1928|   NULL|            83|  3695.0| True|
| 76|tt0020018|      In Old Arizona|            NULL|     1928|   NULL|            95|  1049.0|False|
| 80|tt0020793|Escape from Dartmoor|            NULL|     1929|   NULL|            88|  1102.0| True|
| 90|tt0022125|              Marius|            NULL|     1931|   NULL|           130|  2251.0| True|
| 99|tt0022626|    American Madness|            NULL|     1932|   NULL|            75|  1996.0| True|
|107|tt0023622| Trouble in Paradise|            NULL|     1932|   NULL|            83| 14090.0| True|
|113|tt0023876|           Cavalcade|       Cavalcade|     NULL|   1933|           112|  5038.0|False|
|129|tt0024593|         Son of Kong|            NULL|     1933|   NULL|            70|  4501.0|False|
|136|tt0025164|    Thé Gáy Divớrcéé|The Gay Divorcee|     1934|   NULL|           107|    NULL| True|
|164|tt0027532|           Dớdswớrth|            NULL|     1936|   NULL|           101|  8817.0| True|
|169|tt0027977|        Modern Times|            NULL|     1936|   NULL|            87|231243.0| True|
|171|tt0028070|       Our Relations|            NULL|     NULL|   1936|            71|  3077.0| True|
|179|tt0028315|            Stớwáwáy|            NULL|     1936|   NULL|            87|  1323.0| True|
|189|tt0028773|            Dead End|        Dead End|     1937|   NULL|            93|    NULL| True|
+---+---------+--------------------+----------------+---------+-------+--------------+--------+-----+
only showing top 20 rows

24/03/13 19:20:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: \N, tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes, label
 Schema: _c0, tconst, primaryTitle, originalTitle, startYear, endYear, runtimeMinutes, numVotes, label
Expected: _c0 but found: \N
CSV file: file:///workspaces/Big-Data/data/train-4.csv

In [11]:
df.show()

+----+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
| _c0|      _c1|                 _c2|                 _c3|      _c4|    _c5|           _c6|     _c7|  _c8|
+----+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|NULL|   tconst|        primaryTitle|       originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|
|  11|tt0013257|               Häxan|               Häxan|     1922|     \N|            91| 13679.0| True|
|  12|tt0013556|          Robin Hood|                NULL|     1922|     \N|           143|  2178.0| True|
|  16|tt0014341|     Our Hospitality|     Our Hospitality|     1923|     \N|            65| 10911.0| True|
|  19|tt0014538|          Three Ages|                NULL|     1923|     \N|            63|  4312.0| True|
|  50|tt0017925|         The General|                NULL|     1926|     \N|            67| 87784.0| True|
|  54|tt0018192|            Napoleon|Napoléon vu par A...|     1927|     \N|           330|  7622.0| True|
|  57|tt0018526|          Úndérwớrld|                NULL|     1927|     \N|            80|  2912.0| True|
|  64|tt0018806|           The Crowd|           The Crowd|       \N|   1928|            98|  8197.0| True|
|  74|tt0019788|            Coquette|            Coquette|       \N|   1929|            76|  2127.0|False|
| 112|tt0023871|    Á Sớng ớf Lisbớn|  A Canção de Lisboa|     1933|     \N|            85|  1432.0| True|
| 117|tt0023969|           Dúck Sớúp|           Duck Soup|     1933|     \N|            69| 59069.0| True|
| 138|tt0025410|  Little Miss Marker|  Little Miss Marker|     1934|     \N|            80|  1277.0| True|
| 152|tt0026529|        The Informer|        The Informer|       \N|   1935|            91|  6255.0| True|
| 168|tt0027914|     Love on the Run|                NULL|     1936|     \N|            80|  1219.0|False|
| 175|tt0028212|            Sabotage|            Sabotage|     1936|     \N|            76| 16166.0| True|
| 177|tt0028249|           Show Boat|                NULL|     1936|     \N|           113|  3236.0| True|
| 191|tt0028944|      The Good Earth|      The Good Earth|       \N|   1937|           138|  4801.0| True|
| 193|tt0029146|The Life of Emile...|The Life of Emile...|     1937|     \N|           116|    NULL| True|
| 198|tt0029314|Humanity and Pape...|                NULL|     1937|     \N|            86|  1995.0| True|
+----+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
only showing top 20 rows

#### Using Polars and or Pandas

A lot of Data-Wrangling is necessary because the data is dirty!

In [ ]:
# With Polars you can read multiple files at once using a wildcard

# Since
# Specify the columns to keep
columns_to_keep = [
    "column1",
    "column2",
    "column3",
    "column4",
    "column5",
    "column6",
    "column7",
    "column8",
]

# Load all CSV files in the data directory into a dataframe
# Specify '\\N' as a null value and only keep the specified columns
df = pl.read_csv("../../data/*.csv", null_values=["\\N"], with_columns=columns_to_keep)

# Print the dataframe
print(df)
# Print the dataframe
print(df)